@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}


img {
    inline-size: 100%;
}

body {
    margin: 0;
    background-image: url("todolist_bg-image.jpeg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.signup-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.username-box {
    border-radius: 1rem;
    padding: 0.6em;
    margin: 0;
    border: 2px solid #012440;
}

.password-box {
    border-radius: 1rem;
    padding: 0.6em;
    margin: 0;
    border: 2px solid #012440;
}

.confirm-pwd {
    border-radius: 1rem;
    padding: 0.6em;
    margin: 0;
    border: 2px solid #012440;
}
.submit-btn {
    padding: 0.6em;
    border: 1px solid #012440;
    font-family: "Playfair Display";
    font-weight: 500;
    border-radius: 1rem;
    background-color: #222224;
    color: #fff;
}
::placeholder {
    opacity: 1;
    color: black;
    font-family: "Playwrite NZ Basic";
    font-weight: 400;
    text-align: center;
}



.signin-signup {
    font-family: "Montserrat";
    font-weight: 400;
    margin-top: 0;
}


.category-input {
    border-radius: 1rem;
    padding: 0.6em;
    padding-inline: 1em;
    margin: 0;
    border: 2px solid #012440;
}

.category-input:focus,
.username-box:focus,
.password-box:focus,
.task-input:focus,
.confirm-pwd:focus{
    outline: none;
    opacity: 0.7;
}

.categories-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
}
.category-btn {
    border-radius: 1rem;
    padding: 0.4em;
    margin: 0;
    border: 2px solid #012440; 
    font-family: "Montserrat";
    font-weight: 400;
    background-color: #05002B;
    color: #fff;
}

.category-creation {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
h1 {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
    color: #05A7E3;
    letter-spacing: 0.1em;
}
.task-creation {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.task-input {
    border-radius: 1rem;
    padding: 0.6em;
    padding-inline: 5em;
    margin: 0;
    border: 2px solid #012440;
}

.tasks-box {
    border: 2px solid #221B4F;
    background-color: #06041c;
    border-radius: 1rem;
    padding-inline: 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.tasks {
    color: #fff;
    font-family: "Montserrat";
    font-size: 0.8rem;
}
.completed-icon{
    width: 10%;
    padding: 0;
    border: none;
    background: none;
    display: block;
}
.completed-icon_img{
    display: block;
    width: 100%;
    mix-blend-mode: overlay;
    opacity: 1; 
}

.delete-icon {
    width: 10%;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    justify-self: center;
}
.delete-icon img {
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
    opacity: 1;
}

.hidden {
    display: none;
}

